<!DOCTYPE html>
<html>
  <head>
    <title>Create a User</title>
    <meta charset='utf-8'>
    <link rel='stylesheet' type='text/css' href='/static/css/index.css'>
    <script src="https://binaries.webex.com/static-content-pipeline/webex-embedded-app/v1/webex-embedded-app-sdk.js" defer></script>
    <script src="index.js"></script>
  </head>
  <body>
    <section class='container'>
      <div class='center content'>
        <div class='spacer'></div>
        <img src='/static/css/webex_logo.png' />
        <div class='spacer'></div>
        {% block content %}{% endblock %}
  </body>
</html>